<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${main}"></title>
    <link rel="stylesheet" th:href="@{style/StyleMain.css}">
</head>
<body>

<div class="intro">
    <div class="video">
        <video class="video_media" src="./media/video/3.mp4" autoplay  muted loop></video>
    </div>

    <div class="intro_content">
        <div class="conteiner">
            <div class="header">
                <div class="header-box">
                    <div class="header-flex">
                        <div class="head-colum-1">
                            <h1>Александр Программист Cтажёр</h1>
                            <p>
                                Учусь разработке серверов и приложений на языке Java
                            </p>
                            <p class="text-PS">

                                ( Данный проект является тестовым в рамках обучения и практики по Frontend разработке )

                            </p>

                        </div>
                        <div class="head-colum-2">
                            <img class="my-foto" src="./media/img/h-272.jpg" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="content">
                <h2>Навыки и умения</h2>
                <div class="colum-flex">
                    <div class="colum-java">
                        <img class="java-img" src="./media/img/icons/java.png" alt="">
                        <br>
                        Понимание принципов ООП
                        <br>
                        и умение собрать минимально рабочий
                        <br>
                        web-проект на базовом уровне
                    </div>
                    <div class="colum-html">
                        <img class="frontend-img" src="./media/img/icons/frontend-icon.png" alt="">
                        <br>
                        Примерное верстание веб строници
                        <br>
                        ( пока без знаний передачи API и JESON)
                    </div>
                    <div class="column-SQL">
                        <img class="DB-img" src="./media/img/icons/postgreSQL.png" alt="">
                        <br>
                        Базовое пониманеие работы с базами данных и SQL
                        <br>
                        умение работать с PostgresSQL запросами
                    </div>

                </div>
            </div>
            <div class="footer">
                <div class="footer-flex">
                    <div class="contact-box">
                        +996 (559) 261 190.
                        <br>
                        Почта: 89515014507@mail.ru


                    </div>
                    <div class="myMail">
                        <a  href="https://my.mail.ru/mail/89515014507/">
                            <img class="mymail" src="./media/img/icons/mail.ru.png" alt="">
                        </a>
                    </div>
                    <div class="vk_com">
                        <a  href="https://vk.com/id254453727">
                            <img class="VK" src="./media/img/icons/VK.png" alt="">
                        </a>

                    </div>
                    <div class="whats-app-box">
                        <a  href="https://wa.me/996559261190">
                            <img class="whats_app" src="./media/img/icons/whatsApp.png" alt="">
                        </a>
                    </div>
                    <div class="telegram-box">
                        <a  href="https://t.me/XanderSo">
                            <img class="telega" src="./media/img/icons/telegramm.png" alt="">
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>


</body>
</html>